<div class="profile_tab">
  <a href="#" class="profile_tab_link">
    <span>{{user?.my_images.length}}</span><br>
    <span>Selfies</span>
  </a>
  <a href="#" class="profile_tab_link">
    <span>{{user?.glories.length}}</span><br>
    <span>Glories</span>
  </a>
  <a href="#" class="profile_tab_link">
    <span>{{user?.favourites.length}}</span><br>
    <span>Favourites</span>
  </a>
  <a href="#" class="profile_tab_link">
    <span>{{user?.followers.length}}</span><br>
    <span>Followers</span>
  </a>
  <a href="#" class="profile_tab_link">
    <span>{{user?.followings.length}}</span><br>
    <span>Followings</span>
  </a>
</div>

  