.image_container {
    height: 300px;
    padding: 0 15px 30px 15px; 
    background-color: #fff; 
}

.container_active_tab {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;   
}

.label {
    height: 100%;
    color: #b0b0b0;
    font-size: 20px;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  input[type="file"] {
    display: none;
  }

  